@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To GKHub</h1>
    <p>
        Create Your Own General Knowledge Repository so that you don't have to search for your already studied gk elsewhere

    </p>
</div>
<div class="text-center">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><button class="btn btn-primary">JOIN NOW</button></a>
</div>

